Project5/Connected Services/DailyHoroscope/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getHoroscopeReading">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sign" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHoroscopeReadingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getHoroscopeReadingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHoroscopeImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sign" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHoroscopeImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getHoroscopeImageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>