Project5/Connected Services/StockBuildAndQuote/Stocks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="stockBuild">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="stockBuildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockBuildResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stockQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockSymbol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stockQuotePairsFilePat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stockQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockQuoteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>